body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
  
}

h2 {
  margin-top: 0px;
}

img {
  height: 300px;
}

#goblin-image{
  margin-left:10px;
}

.container {
  display: flex; /* or inline-flex */
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.board {
    margin-top: 50px;
    width: 500px;
    height: 500px;
    border: 5px solid #BBBBBB;
    padding: 20px;
    background-color: white;
    box-shadow: 8px 8px grey;
}

.player-display {
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    width: 250px;
    height: 500px;
    border: 5px solid #BBBBBB;
    padding: 20px;
    background-color: white;
    box-shadow: 8px 8px grey;
}

.hitpoint-display {
  margin-top: 20px;
}

.hitpoint-title {
  font-weight: bold;
  font-size: 19;
}

.matched-gems-display {
  margin-top: 10px;
}

.gem-count {
  padding-left: 2px;
  padding-right:2px;
}

.color-box {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

#gem-type-0-color-box {
  background-color: #E998B3;
}

#gem-type-1-color-box {
  background-color: #c2d2e0;
}

#gem-type-2-color-box {
  background-color: #d69e85;
}

#gem-type-3-color-box {
  background-color: #f2d299;
}

#gem-type-4-color-box {
  background-color: #c7c491;
}

#gem-type-5-color-box {
  background-color: #bae6d1;
}
